@model IEnumerable<_2280600767_PhanTrucGiang.Models.MonAn>

@{
    ViewData["Title"] = "DANH SÁCH MÓN ĂN";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h2 class="text-center text-primary">Danh sách món ăn</h2>
    @if (User.IsInRole("Admin"))
    {
        <a asp-area="Admin" asp-controller="MonAn" asp-action="Create" class="btn btn-success mb-3">Thêm món ăn</a>
    }

    <table class="table table-hover table-bordered shadow-lg">
        <thead class="bg-primary text-white text-center">
            <tr>
                <th>Mã Món Ăn</th>
                <th>Tên Món Ăn</th>
                <th>Loại Món Ăn</th>
                <th>Đơn Giá</th>
                <th>Số Lượng</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="text-center">
                    <td>@item.MaMonAn</td>
                    <td>@item.TenMonAn</td>
                    <td>@item.LoaiMonAn?.TenLoaiMonAn</td>
                    <td>@item.Dongia.ToString("N0") VNĐ</td>
                    <td>@item.Soluongton</td>
                    <td>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-area="Admin" asp-controller="MonAn" asp-action="Edit" asp-route-id="@item.MaMonAn" class="btn btn-warning btn-sm">Sửa</a>
                            <a asp-area="Admin" asp-controller="MonAn" asp-action="Delete" asp-route-id="@item.MaMonAn" class="btn btn-danger btn-sm">Xóa</a>
                        }
                        <a asp-action="Display" asp-route-id="@item.MaMonAn" class="btn btn-info">Xem</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>